<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-group row" style="width: 60%;">
    <label class="col-sm-2 col-form-label">Employee Name</label>

    <div class="col-sm-10">
      <input [(ngModel)]="Title"
             class="form-control"
             placeholder="Enter Recipe Name"
             required
             #name="ngModel"/>
    </div>

    <label class="col-sm-2 col-form-label" for="ingredientSelect">Ingredient</label>

    <div class="col-sm-10">
      <select class="form-control custom-select" id="ingredientSelect" [(ngModel)]="Ingredient">
        <option>--Select--</option>
        <option *ngFor="let depName of IngredientsList">
          {{depName}}
        </option>
      </select>
    </div>

    <label class="col-sm-2 col-form-label">Created On</label>

    <div class="col-sm-10 pt-3">
      <input type="date"
             [(ngModel)]="CreatedOn"
             required
             #date="ngModel"/>
    </div>
  </div>
</div>

<button (click)="addRecipe()"
        *ngIf="rec.recipeId == 0"
        class="btn btn-info btn-lg btn-block"
        [disabled]="name.invalid || date.invalid">
  Add
</button>

<button (click)="updateRecipe()"
        *ngIf="rec.recipeId != 0"
        class="btn btn-info btn-lg btn-block"
        [disabled]="name.invalid || date.invalid">
  Update
</button>
