<div class="d-flex flex-row bd-highlight mb-3">
  <div class="form-group row" style="width: 60%;">
    <label class="col-sm-2 col-form-label">Employee Name</label>

    <div class="col-sm-10">
      <input type="text" [(ngModel)]="Title" class="form-control" placeholder="Enter Recipe Name" />
    </div>

    <label class="col-sm-2 col-form-label">Ingredient</label>

    <div class="col-sm-10">
      <select class="form-control" [(ngModel)]="Ingredient">
        <option>--Select--</option>
        <option *ngFor="let depName of IngredientsList">
          {{depName}}
        </option>
      </select>
    </div>

    <label class="col-sm-2 col-form-label">Created On</label>

    <div class="col-sm-10">
      <input type="date" [(ngModel)]="CreatedOn" />
    </div>
  </div>
</div>

<button (click)="addRecipe()" *ngIf="rec.recipeId == 0" class="btn-primary btn-primary">
  Add
</button>

<button (click)="updateRecipe()" *ngIf="rec.recipeId != 0" class="btn-primary btn-primary">
  Update
</button>
